.box{
    background-color: #E30A17;
    height: 600px;
    width: 900px;
    position:relative;
}

.moon{
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position:absolute;
    top: 150px;
    left: 200px;
}

.moon2{
    background-color: #E30A17;
    height: 245px;
    width: 245px;
    border-radius: 50%;
    position:absolute;
    top: 28px;
    left: 65px;
    z-index: 1;
}

.star {
    width: 170px;  
    aspect-ratio: 1;
    background: white;
    clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%);
    position:absolute;
    top: 220px;
    left: 450px;
    z-index: 1;
    transform: rotate(-15deg);
    
  }